<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <root>
    <!-- Log 级别 : OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
    <level value="ALL"/>
    <!-- 文件 Log -->
    <appender-ref ref="sysAppender"/>
    <!-- 调试 Log -->
    <appender-ref ref="debugAppender"/>
  </root>
  <!-- 文件 Log 配置-->
  <logger name="Enyim.Caching">
    <level value ="ERROR" />
  </logger>
  <appender name="sysAppender" type="log4net.Appender.RollingFileAppender,log4net" >
    <!-- 目录位置-->
    <param name="File" value="Logs/" />
    <!-- 文件锁-->
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <!-- 编码格式-->
    <param name="Encoding" value="UTF-8" />
    <!-- 是否追加到文件中-->
    <param name="AppendToFile" value="true" />
    <!-- 滚动类型 : Once , Size , Date , Composite-->
    <param name="RollingStyle" value="Date" />
    <!-- 文件名称-->
    <param name="DatePattern" value="&quot;agency&quot;yyyy-MM-dd&quot;.txt&quot;" />
    <!-- 是否是静态文件名称-->
    <param name="StaticLogFileName" value="false" />
    <!-- 文件内容布局-->
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%d %-5p @ %C:%M:%L %t - %m%n%n" />
    </layout>
  </appender>
  <!-- 调试 Log 配置-->
  <appender name="debugAppender" type="log4net.Appender.ColoredConsoleAppender,log4net" >
    <!-- 文件内容布局-->
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%d %-5p @ %C:%M:%L %t - %m%n" />
    </layout>
    <mapping>
      <level value="FATAL" />
      <foreColor value="Purple, HighIntensity" />
    </mapping>
    <mapping>
      <level value="ERROR" />
      <foreColor value="Red, HighIntensity" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow, HighIntensity" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="Green, HighIntensity" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <foreColor value="White" />
    </mapping>
  </appender>
</log4net>